*.tar
*.tar.gz
*.tmp
.venv
.direnv
packer_cache/
box/
repo/apt/
repo/apt-deps/
repo/rpm/
repo/rpm-deps/
repo/patches/
pkg/*.deb
pkg/*.rpm
aws/billing/
azure/xdp-standard/temp
azure/xdp-standard/.tmp
.vs
.vscode
.lego
