ansible
#ansible[azure]
#ansible-container[docker]
ansible-modules-hashivault
awscli
aws-sam-cli
azure-cosmosdb-table
azure-storage-blob
azure-storage-queue
bumpversion
cfn-flip
cfn-lint
crcmod
diceware
exodus-bundler
flake8
jinja2-cli
jinja2-cli[yaml]
ovirt-engine-sdk-python
paramiko
pre-commit
pylint
pytest
pyvmomi
testinfra
troposphere
warrant
yamllint
