ansible
#ansible[azure]
#ansible-container[docker]
azure-storage-blob
azure-storage-queue
azure-cosmosdb-table
awscli
bumpversion
cfn-flip
crcmod
jinja2-cli
requests
troposphere
yamllint
pre-commit
pylint
cfn-lint
