ansible
ansible-modules-hashivault
awscli
aws-sam-cli
azure-storage-blob>=2.1.0
azure-storage-common>=2.1.0
azure-storage-queue>=2.1.0
bumpversion
cfn-flip
cookiecutter
crcmod
diceware
docker
flake8
git-review
jinja2-cli[yaml]
pip-tools
pre-commit
pylint
pytest
python-consul
PyYAML
requests
sceptre
sentry-sdk==0.14.1
testinfra
troposphere[policy]
warrant
yamllint
yapf
