ansible
#ansible[azure]
#ansible-container[docker]
ansible-modules-hashivault
awscli
aws-sam-cli
azure-cosmosdb-table
azure-storage-blob
azure-storage-queue
bumpversion
cfn-flip
cfn-lint
crcmod
diceware
exodus-bundler
jinja2-cli
ovirt-engine-sdk-python
paramiko
pre-commit
pylint
pyvmomi
requests
troposphere
yamllint
