[gerrit]
    basePath = git
    canonicalWebUrl = https://gerrit.int.xcalar.com/
[auth]
    type = oauth
[sendemail]
    smtpServer = localhost
[container]
    user = gerrit
    javaHome = /usr/lib/jvm/java-8-oracle
[sshd]
    listenAddress = *:29418
[httpd]
    listenUrl = proxy-https://*:8080/
[cache]
    directory = cache
[plugins]
    allowRemoteAdmin = true
[index]
    type = LUCENE
[receive]
    enableSignedPush = false
[plugin "gerrit-oauth-provider-google-oauth"]
    client-id = 309583985413-3kefau98f916259mkokupo2ea4ntigke.apps.googleusercontent.com
    link-to-existing-openid-accounts = true

[commentlink "bugzilla"]
    match = "([Xx][c]-)(\\d+)"
    link = http://bugs.int.xcalar.com/show_bug.cgi?id=$2

[download]
  command = checkout
  command = cherry_pick
  command = pull
  command = format_patch
  scheme = ssh
  scheme = http

[uploadpack]
  hideRefs = refs/changes/
  hideRefs = refs/cache-automerge/
  allowTipSha1InWant = true
