https://zd.xcalar.net {
    redir 301 {
       if {>X-Forwarded-Proto} is http
       /  https://{host}{uri}
    }
    tls ambakshi@gmail.com
    root /var/www/html
## Example web service/server running on localhost:9090
    proxy /todo/api/v1.0 http://127.0.0.1:5000 {
transparent
    }
## The below is the Xcalar-GUI config we use to server pages from /opt/xcalar/xcalar-gui
## and proxy requests from /thrift/service to xcmgmtd running on 127.0.0.1:9090
#    root /opt/xcalar/xcalar-gui
#    proxy /thrift/service http://127.0.0.1:9090/thrift/service {
#        without /thrift/service
#        max_fails 0
#        fail_timeout 14000s
#        keepalive 100
#        transparent
#    }
    proxy /rest http://localhost:12126 {
        without /rest
        max_fails 0
        fail_timeout 14000s
        keepalive 100
        transparent
    }
 
    gzip
    log / /var/log/caddy/access.log "{hostname} {remote} - - [{when}] \"{method} {uri} {proto}\" {status} {size} \"{>Referer}\" \"{>User-Agent}\" {latency}" {
rotate {
    size 100 # Rotate after 100 MB
    age  14  # Keep log files for 14 days
    keep 10  # Keep at most 10 log files
 }
    }
    errors /var/log/caddy/error.log
}
