[Unit]
Documentation=https://xcalar.com/about.html
Description=Xcalar Compute Engine
After=remote-fs.target
After=network-online.target
Wants=network-online.target
Conflicts=shutdown.target

[Service]
Type=forking
TimeoutSec=15min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStartPre=/usr/bin/mkdir -p /ephemeral/data/serdes
ExecStartPre=/usr/bin/chown xcalar:xcalar /ephemeral/data/serdes
ExecStart=/etc/rc.d/init.d/xcalar start
ExecStop=/etc/rc.d/init.d/xcalar stop

[Install]
WantedBy=multi-user.target

