{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": {
            "value": "westus2"
        },
        "clusterName": {
            "value": "YOUR-CLUSTER-NAME"
        },
        "adminUsername": {
            "value": "azureuser"
        },
        "adminPassword": {
            "value": "i0turb1ne!"
        },
        "adminEmail": {
            "value": "YOUR-EMAIL"
        },
        "vmDiskType": {
            "value": "Premium_LRS"
        },
        "domainNameLabel": {
            "value": "YOUR-DOMAIN-NAME-LABEL"
        },
        "vmSize": {
            "value": "YOUR-VM-TYPE"
        },
        "licenseKey": {
            "value": "YOUR-LICENSE-KEY"
        },
        "scaleNumber": {
            "value": <NUMBER-OF-NODES>
        }
    }
}

