https://console.aws.amazon.com/cloudformation/home?region=us-east-1#/stacks/quickcreate?templateUrl={{ baseurl | urlencode }}xdp-standard.template&stackName={{ stack_name | default("kpmg-1") }}&param_LaunchConfig=param_AssociatePublicIpAddress=true&param_ClusterAccessSGId=sg-01c9dd12946e730bc&param_ClusterInstanceType=r5d.4xlarge&param_EfsIpAddress=172.31.64.11&param_InstallerUrl=&param_KeyPair=xcalar-us-east-1&param_PrivateSubnetCluster=subnet-e55cc480&param_RootSize=100&param_TemplateBaseUrl={{ baseurl | urlencode }}&param_VPCCIDR=0.0.0.0%2F0&param_VPCID=vpc-30100e55&param_XcalarClusterSize=3&param_XcalarEc2RetryTagKey=aws%3Acloudformation%3Astack-name
